body {
  background-image: url("./images/background-2.jpg");
  background-size: cover;
}

.wrapper {
  background-color: white;
  margin-left: -10px;
  padding: 5px;
  margin-top: -10px;
  width: 1300px;
  box-shadow: 2px 2px 2px #888888;
}

#main-navigation #logo {
  margin-right: 400px;
  margin-right: 546px;
}

#main-navigation {
  display: flex;
  justify-content: space-between;
}

#main-navigation a {
  padding: 10px;
  justify-content: space-around;
  color: #2B2F26;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 1.0em;
  margin-left: -261px;
  margin-right: 382px;
  line-height: 26px;
}

#main-navigation a:hover {
  color: #978774;
}

#logo {
  width: 50px;
  height: 50px;
}

.logo img {
  display: flex;
  width: 50px;
  justify-content: flex-start;
}

.center_block {
  background-color: white;
  width: 615px;
  text-align: center;
  margin-top: 69px;
  margin-right: 330px;
  margin-left: 330px;
  margin-bottom: 99px;
  height: 380px;
}

.center_block h1 {
  font-weight: 100;
  padding-top: 60px;
  color: #2B2F26;
}

.center_block h3 {
  font-weight: 100;
  font-size: 1.5em;
  color: #2B2F26;
}

input[type=text] {
  width: 85%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #7F7162;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}

input[type=email] {
  width: 85%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #7F7162;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}

input[type=button] {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  background-color: #786B5C;
  color: #F2F1E8;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #7F7162;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}

#signupButton:hover {
  background-color: #978774;
}
