
html{ width:1200px;
  height: 700px;
  color:#F2F1E8;

  justify-content: center;
}
body{
  line-height: 2.2;
  margin: 0;
  /*background-color: #F2F1E8;*/
  justify-content: center;
  height: 807px;
}
main {
  display: block;
  display: flex;
  background-color: #F2F1E8;
  flex-basis: 100%;
  flex-wrap: wrap;
  position: relative;
flex-direction: row;
justify-content: center;
height:306px;
margin-bottom: -218px;
margin-top: -208px;


}

.wrapper {
  width: 1300px;
  height: 1087px;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-bottom: -90px;
  background-color: #F2F1E8;
}
#site-header{
  justify-content: center;
  height: 0px;

}
#site-header div {
  text-align: center;
  padding: 60px 0 ;
  font-size: 2em;
  background-color: #F2F1E8;
  width: 1300px;
  background-size: cover;
  background-position: right bottom;
  justify-content: center;


}
#site-header div h1, #site-header div h2 {
  margin: 0;
  line-height: 1;
  color: black;
}

#site-header div h1 {
  top: 20px;
  justify-content: center;
  padding: 15px;
  font-size: 2.2em;
}

#site-header div h3 {
  color: black;
  bottom: 20px;

}
h1, h2, h3 {
  font-family:'Merriweather', serif;
  font-weight:normal;
margin-left: 10px;}
h2{
  padding-top: 10px;
  font-weight:100;
  font-size: 1.3em;
}
#main-navigation {
  width:1300px;
  background: #FFFFFF;
  display: flex;
  justify-content: center;

}
#main-navigation img{
  display: block;
  justify-content: flex-start;
height: 50px;
padding: 10px;
}
#main-navigation a{
    display: block;
    color: #2B2F26;
    text-transform: uppercase;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    padding-left: 30px;

  }



.row_1{
  display: block;
  display: flex;
  flex-direction: row;
}
main img{
  padding: 8px;
  justify-content: center;
  object-fit: cover;

}
.row_1{
height: 383px;
}

#cactus img{
  width:731px;
  height:368px;
}
#cactus h3 {
  position: relative;
  top: -100px;
  left: 8px;
  display: flex;
width:226px;
height: 40px;
justify-content: center;
}
#bowl img{
  height: 368px;
  width: 236px;
}
#bowl h3 {
  position: relative;
  top: -100px;
  left: 8px;
  display: flex;
width:73px;
height: 40px;
justify-content: center;
}
#platter img{
  height: 368px;
  width: 236px;
}
#platter h3 {
  position: relative;
  top: -100px;
  left: 8px;
  display: flex;
width:90px;
height: 40px;
justify-content: center;
}
#tea_cup img{
  width: 234px;
  height:240px;
}
#tea_cup h3 {
  position: relative;
  top: -100px;
  left: 8px;
  display: flex;
width:100px;
height: 40px;
justify-content: center;
}
#jars img{
  width: 234px;
  height:240px;
}
#jars h3 {
  position: relative;
  top: -100px;
  left: 8px;
  display: flex;
width:212px;
height: 40px;
justify-content: center;
}
#saki_jug  img{
  width: 485px;
  height:240px;

}
#saki_jug h3 {
  position: relative;
  top: -100px;
  left: 8px;
  display: flex;
width:160px;
height: 40px;
justify-content: center;
}
#cup_tan img{
  width: 234px;
  height:240px;

}
#cup_tan h3 {
  position: relative;
  top: -100px;
  left: 8px;
display: flex;
width:212px;
height: 40px;
justify-content: center;
}
h3{
  border-style: solid #2e3528 ;
  color: #F2F1E8;
  background-color: #2e3528;
}
#site-footer {
  justify-content: center;
  color: white;
  background: #333;
  padding: 30px;
  width: 1250px;
  margin-left: -8px;
}

#site-footer span {
  display: flex;
  display: block;
  text-align: center;
  justify-content: center;
}
