body{
  background-color: #F2F1E8;
}

#site-header div {
  font-family: 'Merriweather', serif;
  text-align: center;
  justify-content: center;
  font-size: 2.5em;
}
#site-header h2{
    font-weight:100;
    font-size: 1em;
    margin-top: -40px;

}
#site-header h1{
  font-weight:400;

}
#main-navigation #logo{
  margin-right: 400px;
}

.wrapper{
  background-color: white;
  padding:5px;
  margin-top: -10px;
}
#main-navigation{
  display: flex;
justify-content: space-between;
}
#main-navigation a{
  padding: 10px;
    justify-content: space-around;
    color: #2B2F26;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
}
#logo{
  width:50px;
  height: 50px;
}
.logo img{
  display: flex;
  width:50px;
  justify-content: flex-start;
}



.row_1{
  display: flex;
  flex-direction: row;
  height: 383px;
}
.row_2{
  display: block;
  display: flex;
  flex-direction: row;
  height: 383px;

}

main img{
  padding: 8px;
  justify-content: center;
  object-fit: cover;
}
.nav_bar{
float: right;
}

#cactus img{
  width:731px;
  height:368px;
}
#cactus h3 {
  position: relative;
  top: -100px;
  left: 8px;
  display: flex;
width:226px;
height: 40px;
justify-content: center;
}
#bowl img{
  height: 368px;
  width: 236px;
}
#bowl h3 {
  position: relative;
  top: -100px;
  left: 8px;
  display: flex;
width:73px;
height: 40px;
justify-content: center;
}
#platter img{
  height: 368px;
  width: 236px;
}
#platter h3 {
  position: relative;
  top: -100px;
  left: 8px;
  display: flex;
width:90px;
height: 40px;
justify-content: center;
}
#tea_cup img{
  width: 234px;
  height:240px;
}
#tea_cup h3 {
  position: relative;
  top: -100px;
  left: 8px;
  display: flex;
width:100px;
height: 40px;
justify-content: center;
}
#jars img{
  width: 234px;
  height:240px;
}
#jars h3 {
  position: relative;
  top: -100px;
  left: 8px;
  display: flex;
width:212px;
height: 40px;
justify-content: center;
}
#saki_jug  img{
  width: 485px;
  height:240px;

}
#saki_jug h3 {
  position: relative;
  top: -100px;
  left: 8px;
  display: flex;
width:160px;
height: 40px;
justify-content: center;
}
#cup_tan img{
  width: 234px;
  height:240px;

}
#cup_tan h3 {
  position: relative;
  top: -100px;
  left: 8px;
display: flex;
width:212px;
height: 40px;
justify-content: center;
}
h3{
  border-style: solid #2e3528 ;
  color: #F2F1E8;
  background-color: #2e3528;
  margin-left: 0px;
}
#site-footer{
  background-color: black;
    width: 1211px;
    color: white;
    margin-left: -9px;
    padding: 20px;

}
